<nav>
    <ul>
        {# <li><a id="colophonButton" href="#colophon">Colophon</a></li> #}
        {# <li><a href="blog.html">Journal</a></li> #}
        {# <li><a href="#">Colophon</a></li> #}
    </ul>
</nav>