.foam {
  --font-title: 'Outward';
}

.foam {
  margin: 2em;
}

.foam header {
  display: grid;
  max-width: 80%;
  margin: 0 auto;
  grid-template-columns: 40vw 40vw;
}

.foam .portrait {
  filter: grayscale();
  position: relative;
  z-index: -1;
  object-fit: cover;
  width: 140vh;
  height: 140vh;
  border-radius: 50%;
  /* margin-bottom: -40vw; */
  opacity: 0.2;
  grid-column: 1;
  grid-row: 1;
}

h1.title {
  grid-column: 1;
  grid-row: 1;
  margin: 0 auto;
  font-family: var(--font-title);
  font-style: normal;
  text-align: center;
  position: relative;
  text-align: right;
  /* float: left; */
  font-size: 40vw;
  padding-right: .2ch;
  color: var(--color-body);
}

.foam .bio {
  font-size: 2em;
}

.foam .subtitle {
  font-size: 15vw;
  font-family: var(--font-title);
  /* font-size: 10em; */
  line-height: .8;
  max-width: 500px;
  margin: auto;
}


.foam .content {
    max-width: 60ch;
    margin: 0 auto;
}

.foam h2 {
    margin-bottom: 3em;
}