/* CSS pour le CR Litote par Arthur Perret */

/* fonts */

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-VF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal italic;
}

@font-face {
  font-family: "EB Garamond";
  src: url(../fonts/EBGaramond-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EB Garamond";
  src: url(../fonts/EBGaramond-Italic.woff2) format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "EB Garamond";
  src: url(../fonts/EBGaramond-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* quelques bouts de master.css pour le logo */

*, * * {
	box-sizing: border-box;
}
body {
	line-height: 1;
	margin: 0;
}
.topbar, .logo {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.topbar {
  font-family: Jost;
  position: fixed;
  padding: 0 .3em;
  left: 1.5em;
  top: 1.3em;
  display: grid;
  align-items: bottom;
  z-index: 30000;
}
.topbar .logo {
  background: white;
  box-shadow: 0 0 0 1em white;
  font-variant: all-small-caps;
  letter-spacing: 1ch;
	text-decoration: none;
}
.topbar .logo:visited {
	color: inherit;
}

/* layout */

header {
	margin: 5em auto 0 auto;
}
header, section.content {
	max-width: 50ch;
}
section.content {
	margin: 0 auto;
}

p.invite {
	display: none;
}

/* 
.content {
  gap: 0 7ch;
  display: grid;
  grid-template-columns: [image-start] 2fr [image-end text-start] 2.5fr [text-end];
  grid-column: image / text;
  grid-row: rest;
}

.content section {
	grid-column: text;
}

.content > figure, .content > blockquote {
	grid-column: image;
	grid-row: span 4;
	position: sticky;
	top: 80px;
	margin-top: 3rem;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-end;
	background: white;
	box-shadow: 0 -3em 0 0 white;
}

figure img {
	max-height: 80vh;
	max-width: 100%
}
section.content figure:nth-of-type(4) img {
	max-height: 70vh;
}

figcaption {
	margin-top: 1em;
	font-size: 0.9em;
	text-align: right;
	line-height: 1.2;
}
 */

/* typography */

article {
	font-family: "Cardo", "EB Garamond", serif;
	font-size: 1.25rem;
}

header {
	text-align: center;
	margin-bottom: 2em;
}

h1, h2 {
	font-style: italic;
	font-weight: normal;
	margin: 2em 0 0.5em 0;
}

h1.title {
	font-size: 3rem;
	margin: 0;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
}

p, .content section {
	line-height: 1.3;
}

section.content {
	margin: 0 auto;
}

.content section p,
.content section ul {
	hyphens: auto;
}

.smallcaps, .nt {
	text-transform: lowercase;
	font-variant-caps: small-caps;
}

p:has(> span.nt) {
	margin-top: 4em;
}

article {
	counter-reset: paragraph;
}

.content section p:before {
	content: counter(paragraph);
	counter-increment: paragraph;
	position: absolute;
	text-align: right;
	width: 10px;
	margin-left: -1.7em;
	font-weight: 400;
	font-size: 0.7em;
	margin-top: 0.3em;
	font-variant-numeric: oldstyle-nums;
}

.content section blockquote p:before,
.content section:last-of-type p:before {
	content: none;
}

.content blockquote {
	height: 50%;
	top: 0;
	padding-top: 5em;
	text-align: right;
}

.content blockquote p:nth-child(1) {
	font-size: 1.2em;
}

.content blockquote p:nth-child(2) {
	margin: 0;
}

.content section ul {
	list-style-type: none;
	padding: 0;
}

.content section ul li {
	font-size: 0.9em;
	padding-left: 1em;
}

a, a:visited {
	color: inherit;
}

a {
	text-decoration-style: dotted;
}

a:hover {
	text-decoration-style: solid;
}

hr {
	background: none;
	border: 0;
	margin: 1.5em 0;
	padding: 0;
}

hr::after {
	content: '⁂';
	display: block;
	line-height: 1;
	text-align: center;
}

.content section:last-of-type p {
	font-size: 0.9em;
	color: rgba(0,0,0,0.8);
}

/* Image de fond */

section.content {
	position: relative;
}

section.content::before,
section.content p::before,
section.content hr::before
 {
	z-index: -1;
	content: "";
	position: absolute;
	width: 250px;
	height: 250px;
	background-image: url(/images/litote-016b79.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

section.content::before {
	top: 0;
	right: -350px;
	background-position: top right;
	transform: rotate(3deg);
}

section.content::before {
	top: 400px;
	left: -450px;
	background-position: top left;
	transform: rotate(-13deg);
	background-image: url(/images/litote-82b4ba.png);
}


section.content p:nth-of-type(odd)::before {
	right: -450px;
	background-position: bottom right;
	transform: rotate(3deg);
	background-image: url(/images/litote-03045e.png);
}

section.content p:nth-of-type(even)::before {
	left: -400px;
	background-position: bottom left;
	transform: rotate(-4deg);
}

section.content p.invite::before {
	right: -520px;
	background-position: top right;
	transform: rotate(1deg);
}

section.content p:nth-of-type(5)::before {
	left: -500px;
	background-position: bottom left;
	transform: rotate(-10deg);
	background-image: url(/images/litote-82b4ba.png);
}

section.content hr::before {
	right: -600px;
	background-position: top right;
}

section.content p:nth-of-type{5}::before,
section.content hr:last-of-type::before {
	transform: rotate(100deg);
}
section.content p:last-of-type::before {
	transform: rotate(120deg);
}

section.content p:nth-of-type(7)::before,
section.content p:nth-of-type(8)::before {
	background-image: none;
}

article {
	overflow-x: clip;
}