/* CSS par Arthur Perret, librement inspirée de Emacs / N Λ N O */

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-LightItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Medium.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-MediumItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

.nano {
  --font-mono: 'Roboto Mono', monospace;
  --color-nano-dark: #36464c;
  --color-nano-light: #afbec4;
  --color-nano-links: #0b008c;
  margin: 0 auto;
  max-width: 800px;
}

.nano main * {
  font-family: var(--font-mono);
}

.nano .portrait {
	display:none;
}

h1.title {
  margin: 0 auto;
  font-weight: normal;
  font-style: normal;
  font-size: 2.9rem;
  color: var(--color-nano-dark);
}

.nano .subtitle {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: bold;
  color: var(--color-nano-dark);
  margin: 0.5rem 0 2rem 0;
  padding: 0 0 0.5rem 0;
  border-bottom: 2px dashed var(--color-nano-light);
}

.nano .bio {
  font-size: 1rem;
  font-style: italic;
}

.nano .content {
	max-width: 66ch;
	margin: 0 auto;
	hyphens: auto;
	line-height: 2;
}

.nano h2 {
  color: var(--color-nano-dark);
	font-size: 1.5rem;
	font-weight: bold;
	margin: 5rem 0 1.5rem 0;
	line-height: 1.3;
}

.nano h2::before {
	content: '## ';
	color: var(--color-nano-light);
	float: left;
	margin-left: -2.5rem;
}

.nano h3 {
  color: var(--color-nano-dark);
	font-size: 1.2rem;
	font-weight: bold;
	margin: 3rem 0 1rem 0;
	line-height: 1.2;
}

.nano h3::before {
	content: '### ';
	color: var(--color-nano-light);
	float: left;
	margin-left: -3rem;
}

.nano p,
.nano ul {
	margin: 0 0 1rem 0;
	text-indent: 0;
	font-size: 1rem;
}

.nano ul li {
	list-style-type: none;
	margin: 0 0 0.5rem 0;
}

.nano ul li::before {
	content: '\2014';
	position: absolute;
	margin-left: -20px;
}

.nano .content figure {
	margin: 2rem 0 1rem 0;
}

.nano .content figure a:hover::after {
  content: attr(alt);
}

.nano figure img {
	max-width: 90%;
}

.nano p code {
	background-color: #eee;
	border: 1px solid var(--color-nano-light);
	border-radius: 4px;
	padding: 0 0.2em;
}

.nano header a,
.nano .content a {
	color: var(--color-nano-links);
	text-decoration-color: var(--color-nano-links);
}

.content a:hover::after {
  color: var(--color-nano-links);
}

.backHome a {
  font-size: 1rem;
  line-height: 1.3;
}

.nano .content em::before,
.nano .content em::after {
	content: '\002A';
	color: var(--color-nano-light);
}

.nano .content hr {
	background: none;
	border: 0;
	margin: 3rem 0 1rem 0;
	padding: 0;
	max-width: 66ch;
}

.nano .content hr::after {
	content: '***';
	display: block;
	opacity: 0.9;
	line-height: 1;
	text-align: center;
	color: var(--color-nano-light);
}

.nano .content hr + p {
	text-align: center;
	width: 100%;
	color: var(--color-nano-light);
	margin: 0 0 0 1.5rem;
}