{% extends "base.njk" %}
{% block content %}
    <main>
        <section id="colophon">
            {% for item in collections.about %}{{ item.templateContent | markdownify | safe }}{% endfor %}
        </section>
        <section class="home">
            {{ content | safe }}
        </section>
        <section>
            <ul class="event-list after">
                {%- for item in collections.next | reverse -%}
                    {% if item.data.show != false %}
                        <li>
                            {% if item.data.nodate == false %}
                                <p class="date">
                                    {# <span class="day">{{item.data.date | formatDate("UTC", "dddd")}}</span> #}
                                    <span class="num">{{ item.data.date | formatDate('UTC', 'D') }}</span>
                                    <span class="month">{{ item.data.date | formatDate('UTC', 'MMMM') }}</span>
                                </p>
                            {% endif %}
                            <div class="content">
                                <a href="{{ item.data.visiourl }}">
                                    <h3>{{ item.data.invite }}</h3>
                                    <h2>
                                        {{ item.data.title }}
                                        {% if item.data.subtitle %}
                                            <br />
                                            {{ item.data.subtitle }}
                                        {% endif %}
                                    </h2>
                                </a>
                                {% if item.data.dateprecise %}<div class="precise">{{ item.data.dateprecise }}</div>{% endif %}
                                {# <img src="https://source.unsplash.com/random" alt=""> #}
                                {% if item.data.intro %}<div class="intro">{{ item.data.intro | markdownify | safe }}</div>{% endif %}
                                {% if item.data.visiourl %}
                                    <p class="link">
                                        <a href="{{ item.data.visiourl }}">Lien pour la rencontre en ligne</a>
                                    </p>
                                {% else %}
                                    <p class="link">
                                        <a href="https://groupes.renater.fr/sympa/subscribe/inacheve-dimprimer?previous_action=info">Rejoignez la liste de diffusion</a>
                                    </p>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="event-list before">
                {% for item in collections.before | reverse %}
                    <li>
                        <p class="date">
                            {# <span class="day">{{item.data.date | formatDate("UTC", "dddd")}}</span> #}
                            <span class="num">{{ item.data.date | formatDate('UTC', 'D') }}</span>
                            <span class="month">{{ item.data.date | formatDate('UTC', 'MMMM') }}</span>
                        </p>
                        <div class="content">
                            <a href="{{ item.data.permalink }}">
                                <h3>{{ item.data.invite }}</h3>
                                <h2>
                                    {{ item.data.title }}
                                    {% if item.data.subtitle %}
                                        <br />
                                        {{ item.data.subtitle }}
                                    {% endif %}
                                </h2>
                            </a>
                            {# <img src="https://source.unsplash.com/random" alt=""> #}
                            {% if item.data.intro %}<div class="intro">{{ item.data.intro | markdownify | safe }}</div>{% endif %}
                            {% if item.data.permalink %}
                                <p class="link">
                                    <a href="{{ item.data.permalink }}">Lire l’article</a>
                                </p>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="end">
            <p>
                Le point de départ
                <p>
                </section>
            </main>
        {% endblock %}
