{% extends "base.njk" %}

{% block content %}
  <main>
    <section class="single">
      <header>
        <h1 class="title">{{title}}</h1>
        <p class="subtitle">{{subtitle}}</p>
        {# <p class="date">{{date}}</p> #}
      </header>
      <section>
        {{content | safe}}
      </section>
    </section>
    <section class="backHome">
      <a href="/index.html">Retour à l’index</a>
    </section>
  </main>
{% endblock %}